<div id='live-group-list' class='live-group-list focus'>
  <div class='live-item-title current'></div>
  <div class='live-item-title'></div>
  <div class='live-item-title'></div>
  <div class='live-item-title'></div>
  <div class='live-item-title'></div>
  <div class='live-item-title'></div>
  <div class='live-item-title'></div>
  <div class='live-item-title'></div>
  <div class='live-item-title'></div>
  <div class='live-item-title'></div>
  <div class='live-item-title'></div>
  <div class='live-item-title'></div>
  <div class='live-item-title'></div>
  <div class='live-item-title'></div>
  <div class='live-item-title'></div>
  <div class='live-item-title'></div>
  <div class='live-item-title'></div>
  <div class='live-item-title'></div>
  <div class='live-item-title'></div>
  <div class='live-item-title'></div>
</div>

<div class='live-list-background'></div>
<div class='live-list-arr'></div>
<div class='live-list-ad'></div>

<div id='live-channel-list' class='live-channel-list'>

  <div class='live-item-list'>
    <div class='live-item-0'>
      <div></div>
      <div><span></span></div>
      <div><span></span></div>
      <div></div>
      <div></div>
    </div>
    <div class='live-item-1'>
      <div></div>
      <div><span></span></div>
      <div><span></span></div>
      <div></div>
      <div></div>
    </div>
    <div class='live-item-2'>
      <div></div>
      <div><span></span></div>
      <div><span></span></div>
      <div></div>
      <div></div>
    </div>
    <div class='live-item-3'>
      <div></div>
      <div><span></span></div>
      <div><span></span></div>
      <div></div>
      <div></div>
    </div>
    <div class='live-item-4'>
      <div></div>
      <div><span></span></div>
      <div><span></span></div>
      <div></div>
      <div></div>
    </div>
    <div class='live-item-5'>
      <div></div>
      <div><span></span></div>
      <div><span></span></div>
      <div></div>
      <div></div>
    </div>
    <div class='live-item-6'>
      <div></div>
      <div><span></span></div>
      <div><span></span></div>
      <div></div>
      <div></div>
    </div>
    <div class='live-item-7'>
      <div></div>
      <div><span></span></div>
      <div><span></span></div>
      <div></div>
      <div></div>
    </div>
    <div class='live-item-8'>
      <div></div>
      <div><span></span></div>
      <div><span></span></div>
      <div></div>
      <div></div>
    </div>
    <div class='live-item-9'>
      <div></div>
      <div><span></span></div>
      <div><span></span></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div id='live-item-list-focus' class='live-item-1'></div>
  <div class='live-item-list-progress'>
      <div class='live-item-list-progress-cursor'></div>
  </div>
</div>

<div id='live-pip' class='live-pip'>
  <div class='live-pip-view'></div>
  <div class='live-pip-name'><span class='live-pip-name-s'></span></div>
</div>

<div class='live-number'></div>