<div id='live-pf-bar-number' class='live-pf-bar-number'></div>
<div class='live-pf-bar-name'>
  <span id='live-pf-bar-name'></span>
</div>
<div class='live-pf-bar-separation'></div>
<div id='live-pf-bar-p' class='live-pf-bar-p'>
  <div>
    <span class='live-pf-bar-info'></span>
  </div>
  <div class='live-pf-bar-info'></div>
</div>
<div id='live-pf-bar-time' class='live-pf-bar-time'></div>
<div class='live-pf-bar-progress-box'>
</div>
<div id='live-pf-bar-progress' class='live-pf-bar-progress'>
  <div class='live-pf-bar-progress-point'></div>
</div>
<div class='live-pf-bar-ad'></div>
<div id='live-pf-bar-f' class='live-pf-bar-f'>
  <div>
  <span class='live-pf-bar-info'></span>
  </div>
  <div class='live-pf-bar-info'></div>
</div>
<div class='live-pf-bar-navigation'>
  <div>Details</div>
  <div>Timeshift Play</div>
  <div>Recording</div>
  <div>Subtitle</div>
  <div>Multitrack</div>
</div>
<div class='live-pf-service-info'>
  <div class='live-pf-channel-info-name'>Service Information</div>
  <div class='live-pf-service-container'>
    <div><div>SW version:</div><div class='live-pf-service-information-item'></div></div>
    <div><div>Video PID:</div><div class='live-pf-service-information-item'></div></div>
    <div><div>CAS ID:</div><div class='live-pf-service-information-item'></div></div>
    <div><div>Audio PID:</div><div class='live-pf-service-information-item'></div></div>
    <div><div>QAM:</div><div class='live-pf-service-information-item'></div></div>
    <div><div></div><div class='live-pf-service-information-item'></div></div>
    <div><div>Frequency:</div><div class='live-pf-service-information-item'></div></div>
    <div><div></div><div class='live-pf-service-information-item'></div></div>
    <div><div>Symbol:</div><div class='live-pf-service-information-item'></div></div>
    <div><div></div><div class='live-pf-service-information-item'></div></div>
  </div>
  <div class='live-pf-channel-info-button'>Live TV</div>
</div>
<div class='live-pf-channel-info'>
  <div class='live-pf-channel-info-name'><span></span></div>
  <div class='live-pf-channel-info-date'></div>
  <div class='live-pf-channel-info-container'>
    <div>
      <aside><p class='live-pf-channel-info-content'></p></aside>
    </div>
  </div>
  <div class='live-pf-channel-info-button'>Service information</div>
</div>

<div id='live-number' class='live-number'></div>
<div id='live-number-shadow' class='live-number-shadow'></div>
<div id='live-number-name' class='live-number-name'></div>