<div class="live-pf-info">
  <img class="live-pf-channel-icon" src="app/images/live/icon.png">
  <div class="live-pf-date"></div>
  <div class="live-pf-time"></div>
</div>
<div class="live-pf-grid">
  <div class="live-pf-date-item-list live-pf-date-item-list-up">
    <div class="live-pf-date-item-up-0">
      <div></div>
      <div></div>
    </div>
    <div class="live-pf-date-item-up-1">
      <div></div>
      <div></div>
    </div>
    <div class="live-pf-date-item-up-2">
      <div></div>
      <div></div>
    </div>
    <div class="live-pf-date-item-up-3">
      <div></div>
      <div></div>
    </div>
    <div class="live-pf-date-item-up-4">
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="live-pf-date-item-list live-pf-date-item-list-down">
    <div class="live-pf-date-item-down-0">
      <div></div>
      <div></div>
    </div>
    <div class="live-pf-date-item-down-1">
      <div></div>
      <div></div>
    </div>
    <div class="live-pf-date-item-down-2">
      <div></div>
      <div></div>
    </div>
  </div>
</div>
<div class="live-pf-item-list">
  <div class="live-pf-item-0">
    <div></div>
    <div>
      <span></span>
    </div>
    <div></div>
    <div></div>
  </div>
  <div class="live-pf-item-1">
    <div></div>
    <div>
      <span></span>
    </div>
    <div></div>
    <div></div>
  </div>
  <div class="live-pf-item-2">
    <div></div>
    <div>
      <span></span>
    </div>
    <div></div>
    <div></div>
  </div>
  <div class="live-pf-item-3">
    <div></div>
    <div>
      <span></span>
    </div>
    <div></div>
    <div></div>
  </div>
  <div class="live-pf-item-4">
    <div></div>
    <div>
      <span></span>
    </div>
    <div></div>
    <div></div>
  </div>
  <div class="live-pf-item-5">
    <div></div>
    <div>
      <span></span>
    </div>
    <div></div>
    <div></div>
  </div>
  <div class="live-pf-item-2 live-pf-animate-item animated live-pf-animate-item-up"></div>
</div>
<div class='live-number'></div>
<div class='live-pf-service-info'>
  <div class='live-pf-channel-info-name'>Service Information</div>
  <div class='live-pf-service-container'>
    <div><div>SW version:</div><div class='live-pf-service-information-item'></div></div>
    <div><div>Video PID:</div><div class='live-pf-service-information-item'></div></div>
    <div><div>CAS ID:</div><div class='live-pf-service-information-item'></div></div>
    <div><div>Audio PID:</div><div class='live-pf-service-information-item'></div></div>
    <div><div>QAM:</div><div class='live-pf-service-information-item'></div></div>
    <div><div></div><div class='live-pf-service-information-item'></div></div>
    <div><div>Frequency:</div><div class='live-pf-service-information-item'></div></div>
    <div><div></div><div class='live-pf-service-information-item'></div></div>
    <div><div>Symbol:</div><div class='live-pf-service-information-item'></div></div>
    <div><div></div><div class='live-pf-service-information-item'></div></div>
  </div>
  <div class='live-pf-channel-info-button'>Live TV</div>
</div>
<div class='live-pf-channel-info'>
  <div class='live-pf-channel-info-name'><span></span></div>
  <div class='live-pf-channel-info-date'></div>
  <div class='live-pf-channel-info-container'>
    <div>
      <aside><p class='live-pf-channel-info-content'></p></aside>
    </div>
  </div>
  <div class='live-pf-channel-info-button'>Service information</div>
</div>