<div class='timeshift-controller-tip'>Timeshift</div>
<div id='timeshift-controller' class='timeshift-controller'>
  <div id='timeshift-controller-channel-number' class='live-number'></div>
  <div class='timeshift-controller-bar'>
  <div id='timeshift-controller-status'></div>
  <div class='timeshift-separation'></div>
  <div id='timeshift-controller-channel-name' class='timeshift-controller-channel-name'></div>
  <div id='timeshift-controller-time' class='timeshift-controller-time'></div>
  <div class='timeshift-controller-progress-bar'>
    <div id='timeshift-controller-progress' class='timeshift-controller-progress'>
      <div class='timeshift-controller-progress-point'></div>
    </div>
  </div>
  </div>
  <div class='timeshift-controller-icons'>
    <div>Start</div>
    <div>Pause</div>
    <div>Backward</div>
    <div>Forward</div>
    <div>Rewind</div>
    <div>Fast Forward</div>
    <div>Back</div>
  </div>
</div>
<div id='timeshift-tip' class='timeshift-tip'></div>