<div class='channel-editor-title'>Channel editor</div>
<div id='channel-editor-menu' class='channel-editor-menu'>
  <div class='current'>All channels</div>
  <div>Password</div>
</div>
<div id='channel-editor-list-menu' class='channel-editor-list-menu'>
  <div class='channel-editor-list-item channel-editor-list-title'><div>No.</div><div>Program name</div><div>Favorite</div><div>Lock</div><div>Move</div></div>
  <div class='channel-editor-list'>
    <div class='channel-editor-list-item'>
      <div class='channel-editor-list-item-num'></div><div class='channel-editor-list-item-name'></div><div></div><div></div><div></div>
    </div>
    <div class='channel-editor-list-item'>
      <div class='channel-editor-list-item-num'></div><div class='channel-editor-list-item-name'></div><div></div><div></div><div></div>
    </div>
    <div class='channel-editor-list-item'>
      <div class='channel-editor-list-item-num'></div><div class='channel-editor-list-item-name'></div><div></div><div></div><div></div>
    </div>
    <div class='channel-editor-list-item'>
      <div class='channel-editor-list-item-num'></div><div class='channel-editor-list-item-name'></div><div></div><div></div><div></div>
    </div>
    <div class='channel-editor-list-item'>
      <div class='channel-editor-list-item-num'></div><div class='channel-editor-list-item-name'></div><div></div><div></div><div></div>
    </div>
    <div class='channel-editor-list-item'>
      <div class='channel-editor-list-item-num'></div><div class='channel-editor-list-item-name'></div><div></div><div></div><div></div>
    </div>
    <div id='channel-editor-list-item-focus' class='channel-editor-list-item-focus'></div>
    <div id='channel-editor-list-preogress' class='channel-editor-list-preogress'></div>
  </div>
  <div class='channel-editor-list-nav'>
    <div>Navigate</div>
    <div>Back</div>
    <div>Favorite</div>
    <div>Lock</div>
    <div>Move</div>
  </div>
</div>
<div id='channel-editor-password-menu' class='channel-editor-password-menu'>
  <div class='channel-editor-password-item'><div>Old Password:</div><div class='channel-editor-item'></div></div>
  <div class='channel-editor-password-item'><div>New Password:</div><div class='channel-editor-item'></div></div>
  <div class='channel-editor-password-item'><div>Repeat Password:</div><div class='channel-editor-item'></div></div>
  <div class='channel-editor-password-item save channel-editor-item'></div>
  <div class='channel-editor-password-tip'>4 bit password</div>
  <div class='channel-editor-password-nav'>
    <div>Navigate</div>
    <div>Back</div>
  </div>
</div>