<div class='information-title'><%=title%></div>
<div class='information-list'>
  <div><div><%=cpu%>:</div><div class='information-item'></div></div>
  <div><div><%=memory%>:</div><div class='information-item'></div></div>
  <div><div><%=flash%>:</div><div class='information-item'></div></div>
  <div><div><%=hardware%>:</div><div class='information-item'></div></div>
  <div><div><%=software%>:</div><div class='information-item'></div></div>
  <div><div><%=release%>:</div><div class='information-item'></div></div>
  <div><div><%=kernel%>:</div><div class='information-item'></div></div>
  <div><div><%=mac%>:</div><div class='information-item'></div></div>
  <div class='one-line'><div><%=serial%>:</div><div class='information-item'></div></div>
  <div class='one-line'><div><%=dhcp%>:</div><div class='information-item'></div></div>
  <div class='one-line'><div><%=cfe%>:</div><div class='information-item'></div></div>
  <div class='one-line'><div><%=loader%>:</div><div class='information-item'></div></div>
</div>