<!--
 Created by ChenShihai on 2017/1/23.
 -->
<!--自动搜索-->
<div id="setting-right-area1" class="setting-right-content">
    <div>
        <div>主频率(MHz)</div>
        <div>554</div>
    </div>
    <div>
        <div>符号率(K/S)</div>
        <div>6875</div>
    </div>
    <div>
        <div>调制方式</div>
        <div>64-QAM</div>
    </div>
    <div>
        <div><span>当前搜索到：</span><span>0</span></div>
        <div><span>数字电视：</span><span>0</span></div>
        <div><span>广播节目：</span><span>0</span></div>
        <div><span>数据广播：</span><span>0</span></div>
    </div>
    <div>
        <div>信号强度：</div>
        <div></div>
        <div></div>
        <div>0%</div>
    </div>
    <div>
        <div>信号质量：</div>
        <div></div>
        <div></div>
        <div>0%</div>
    </div>
    <div>
        <div>搜索进度：</div>
        <div></div>
        <div></div>
        <div>0%</div>
    </div>
    <div>自动搜索</div>
</div>
<!--手动搜索-->
<div id="setting-right-area2" class="setting-right-content">
    <div>
        <div>主频率(MHz)</div>
        <div>554</div>
    </div>
    <div>
        <div>符号率(K/S)</div>
        <div>6875</div>
    </div>
    <div>
        <div>调制方式</div>
        <div>64-QAM</div>
    </div>
    <div>
        <div><span>当前搜索到：</span><span>0</span></div>
        <div><span>数字电视：</span><span>0</span></div>
        <div><span>广播节目：</span><span>0</span></div>
        <div><span>数据广播：</span><span>0</span></div>
    </div>
    <div>
        <div>信号强度：</div>
        <div></div>
        <div></div>
        <div>0%</div>
    </div>
    <div>
        <div>信号质量：</div>
        <div></div>
        <div></div>
        <div>0%</div>
    </div>
    <div>开始搜索</div>
</div>
<!--全频搜索-->
<div id="setting-right-area3" class="setting-right-content">
    <div>
        <div>开始频率(MHz)</div>
        <div>115</div>
    </div>
    <div>
        <div>结束频率(MHz)</div>
        <div>6875</div>
    </div>
    <div>
        <div><span>当前搜索到：</span><span>0</span></div>
        <div><span>数字电视：</span><span>0</span></div>
        <div><span>广播节目：</span><span>0</span></div>
        <div><span>数据广播：</span><span>0</span></div>
    </div>
    <div>
        <div>信号强度：</div>
        <div></div>
        <div></div>
        <div>0%</div>
    </div>
    <div>
        <div>信号质量：</div>
        <div></div>
        <div></div>
        <div>0%</div>
    </div>
    <div>
        <div>搜索进度：</div>
        <div></div>
        <div></div>
        <div>0%</div>
    </div>
    <div>开始搜索</div>
</div>
<!--信号检测-->
<div id="setting-right-area4" class="setting-right-content">
    <div>
        <div>频率(MHz)</div>
        <div>306</div>
    </div>
    <div>
        <div>信号强度：</div>
        <div></div>
        <div></div>
        <div>0%</div>
    </div>
    <div>
        <div>信号质量：</div>
        <div></div>
        <div></div>
        <div>0%</div>
    </div>
</div>
<div id = 's-tool-bar'></div>