<div id='media-audio-controller-bar' class='play-controller'>
  <div id='media-audio-cd'></div>
  <div id='media-audio-controller-status'></div>
  <div class='play-controller-progress-container'>
    <div class='play-controller-progress-bar'>
      <div id='media-audio-controller-progress' class='play-controller-progress'>
        <div id='media-audio-controller-progress-point' class='play-controller-progress-point'></div>
      </div>
    </div>
    <div id='media-audio-controller-time' class='play-controller-time'></div>
  </div>
  <div id='media-audio-controller-file-name' class='play-controller-file-name'></div>
  <div class='play-controller-item-list'>
    <div class='pre play-controller-icon'></div>
    <div class='rewind play-controller-icon-hidden'></div>
    <div class='play current play-controller-icon'></div>
    <div class='forward play-controller-icon-hidden'></div>
    <div class='next play-controller-icon'></div>
  </div>
  <div class='play-controller-icons'>
    <div class='loop play-controller-icon'></div>
    <div class='subtitles play-controller-icon-hidden'></div>
    <div class='list play-controller-icon'></div>
  </div>
</div>
<div id='media-audio-lrc' class='media-audio-lrc'>
  <div id='media-audio-lrc-box' class='media-audio-lrc-box'></div>
</div>
<div id='media-audio-list' class='play-list-container'>
  <div class='play-list-title'>Audio files in the current directory</div>
  <div class='play-list-box'>
      <div id='media-audio-list-items' class='play-list'>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
  </div>
  <div id='media-audio-list-progress' class='play-list-progress'></div>
  <div id='media-audio-list-focus' class='play-list-focus'></div>
</div>