<div class='media-title'>Media Center</div>
<div class='media-pvr-info'>
  <div class="media-pvr-info-1">
    <div class='media-pvr-info-recording'>
      <span>Recording:</span>
      <span class='media-pvr-info-recording-count'></span>
    </div>
    <div class='media-pvr-info-completed'>
      <span>Completed:</span>
      <span class='media-pvr-info-completed-count'></span>
    </div>
    <div class='media-pvr-info-description'>
      <span class='high-color'>Used Thread:</span>
      <span class='high-color media-pvr-info-used-thread'></span>
      <span>/ Total:</span>
      <span class='media-pvr-info-total-thread'></span>
    </div>
  </div>
  <div class="media-pvr-info-2">
    <div class='media-pvr-info-new'></div>
    <div class='media-pvr-info-description'>
      <span class='high-color'>Remaining Thread:</span>
      <span class='high-color media-pvr-info-remaining-thread'></span>
      <span>/ Total:</span>
      <span class='media-pvr-info-total-thread'></span>
    </div>
  </div>
</div>
<div class='media-disk-box'>
  <div class='media-disk-usb'>Local Play</div>
  <div class='media-disk-tip'>File Name</div>
  <div class='media-disk-info'>
    <div class='media-disk-file-list'>
      <div><div class='media-disk-file-icon'></div>Video</div>
      <div><div class='media-disk-file-icon'></div>Music</div>
      <div><div class='media-disk-file-icon'></div>Picture</div>
    </div>
    <div class='media-disk-progress'>
      <div class='media-disk-used-progress'></div>
    </div>
    <div class='media-disk-navigation'>
      <div>Used space</div>
      <div>Unused space</div>
    </div>
  </div>
  <div class='media-disk-empty-info'>No Device</div>
</div>
<div id='media-disk-loading' class='media-disk-loading'>Loading...</div>