<div style="width: 1280px; height: 720px;">
  <img id="media-picture-item"/>
</div>
<div id='picture-static'>
  <img id="picture-pre-icon" src="./app/images/media/play/pic/pre.png"/>
  <img id="picture-next-icon" src="./app/images/media/play/pic/next.png"/> 
</div>
<div id="picture-controller">
  <div id="picture-scale-percent">100%</div>
  <div id="picture-file-name"></div>
  <div class="picture-controller-icons">
    <img class="picture-controller-icon" src="./app/images/media/play/pic/zoom.png"/>
    <img class="picture-controller-icon" src="./app/images/media/play/pic/lessen-normal.png"/>
    <img class="picture-controller-icon" src="./app/images/media/play/pic/turn-left-normal.png"/>
    <img class="picture-controller-icon" src="./app/images/media/play/pic/turn-right-normal.png"/>
    <img class="picture-controller-icon pictureRawSize" src="./app/images/media/play/pic/full-normal.png"/>
  </div>
  <div id="picture-progress"></div>
</div>