<div class="play-controller">
  <div class="play-controller-progress-container">
    <div class="play-controller-progress-bar">
      <div class="play-controller-progress">
        <div class="play-controller-progress-point"></div>
      </div>
    </div>
    <div class="play-controller-time"></div>
  </div>
  <div class="play-controller-file-name"></div>
  <div class="play-controller-item-list">
    <div class="pre"></div>
    <div class="rewind"></div>
    <div class="play current"></div>
    <div class="forward"></div>
    <div class="next"></div>
  </div>
  <div class="play-controller-icons">
    <div class="loop"></div>
    <div class="subtitles"></div>
    <div class="list"></div>
  </div>
  <div class=""></div>
</div>