<div class='media-search-keyboard'>
    <div class='media-search-input'></div>
    <div class='media-keyboard'>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div>
            <div class='media-keyboard-choose-item'>
                <div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
        </div>
    </div>
</div>
<div class='media-search-result'>
    <div class='media-search-result-title'>
        <span>No.</span><span>Channel</span><span>Program Title</span><span>Time</span><span>Status</span><span>Date</span>
    </div>
    <div class='media-search-result-list'>
        <div class='media-search-result-item-0'>
            <div></div>
            <div><span></span></div>
            <div><span></span></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class='media-search-result-item-1 current'>
            <div></div>
            <div><span></span></div>
            <div><span></span></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class='media-search-result-item-2'>
            <div></div>
            <div><span></span></div>
            <div><span></span></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class='media-search-result-item-3'>
            <div></div>
            <div><span></span></div>
            <div><span></span></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class='media-search-result-item-4'>
            <div></div>
            <div><span></span></div>
            <div><span></span></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class='media-search-result-item-5'>
            <div></div>
            <div><span></span></div>
            <div><span></span></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class='media-search-result-item-6'>
            <div></div>
            <div><span></span></div>
            <div><span></span></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class='media-search-result-item-7'>
            <div></div>
            <div><span></span></div>
            <div><span></span></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class='media-search-result-item-8'>
            <div></div>
            <div><span></span></div>
            <div><span></span></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class='media-search-result-item-9'>
            <div></div>
            <div><span></span></div>
            <div><span></span></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class='media-search-result-item-10'>
            <div></div>
            <div><span></span></div>
            <div><span></span></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class='media-search-result-item-list-focus media-search-result-item-1'></div>
    <div class='media-search-result-item-list-progress'>
        <div class='media-search-result-item-list-progress-cursor'></div>
    </div>
</div>