<div id='media-video-controller-bar' class='play-controller'>
  <div class='play-controller-progress-container'>
    <div class='play-controller-progress-bar'>
      <div id='media-video-controller-progress' class='play-controller-progress'>
        <div id='media-video-controller-progress-point' class='play-controller-progress-point'></div>
      </div>
    </div>
    <div id='media-video-controller-time' class='play-controller-time'></div>
  </div>
  <div id='media-video-controller-file-name' class='play-controller-file-name'></div>
  <div class='play-controller-item-list'>
    <div class='pre play-controller-icon'></div>
    <div class='rewind play-controller-icon'></div>
    <div class='play current play-controller-icon'></div>
    <div class='forward play-controller-icon'></div>
    <div class='next play-controller-icon'></div>
  </div>
  <div class='play-controller-icons'>
    <div class='loop play-controller-icon'></div>
    <div class='list play-controller-icon'></div>
  </div>
  <div id='media-video-controller-status' class='play-controller-status'>
    <div class='pause'>
      <div class='speed_2'></div>
    </div>
  </div>
</div>
<div id='media-video-list' class='play-list-container'>
  <div class='play-list-title'>Video files in the current directory</div>
  <div class='play-list-box'>
      <div id='media-video-list-items' class='play-list'>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
  </div>
  <div id='media-video-list-progress' class='play-list-progress'></div>
  <div id='media-video-list-focus' class='play-list-focus'></div>
</div>