<div class='home-header'>
    <img class='home-logo' src='app/images/home/logo.png'>
</div>
<div style="position:absolute;left:60px; top:75px; height:156px; width:1200px; overflow:hidden;">
    <div id="main_0" class="menu_00"></div>
    <div id="main_1" class="menu_01"></div>
    <div id="main_2" class="menu_02"></div>
    <div id="main_3" class="menu_03"></div>
    <div id="main_4" class="menu_04"></div>
    <div id="main_5" class="menu_05"></div>
    <div id="main_6" class="menu_06"></div>
    <div id="main_7" class="menu_07"></div>
</div>
<div class="list_box">
    <ul>
        <li id="sub_0">&nbsp;</li>
        <li id="sub_1">&nbsp;</li>
        <li id="sub_2">&nbsp;</li>
        <li id="sub_3">&nbsp;</li>
        <li id="sub_4">&nbsp;</li>
    </ul>
</div>
<div id="focus" class="list_curr"></div>
<div id="home_up" class="home_up"></div>
<div id="home_down" class="home_down"></div>
<div id="ad" class="ad"></div>
<div id='adOne' class="ad_one"></div>
<div id='adTwo' class="ad_two"></div>
<div class="message">
    <div id="message" class="message_content">
        <marquee>福建广电欢迎您！</marquee>
    </div>
</div>